@{
    ViewBag.Title = UIMessages.HeadingPasswordDetails;
}

@model Lithnet.AccessManager.Web.Models.LapEntryModel
@inject Lithnet.AccessManager.Web.Internal.IPhoneticPasswordTextProvider textProvider;
@inject Lithnet.AccessManager.Web.Internal.IHtmlPasswordProvider htmlProvider;

<script src="@Url.Content("~/Scripts/init-clip.js")"></script>

<div class="form-container">

    <header>
        @UIMessages.HeadingPasswordDetails
    </header>
    <fieldset>
        <section>
            <label class="title">@UIMessages.ComputerName</label>
            <div class="input-group">
                <input class="resultsText" id="ComputerName" type="text" value="@Html.DisplayFor(modelItem => Model.ComputerName)" readonly="readonly" />
            </div>
        </section>

        <section>
            <label class="title">@UIMessages.Password</label>
            <div class="input-group">
                <div class="resultsText password-field" id="pwd">
                    @Html.Raw(htmlProvider.GetHtmlPassword(Model.Password))
                </div>
                <span id="inputGroupAppend" class="input-group-append">
                    <button id="copy-button" type="button" data-clipboard-text="@Model.Password">
                        <i class="far fa-copy"></i>
                    </button>
                </span>
            </div>

            <div>
                <button id="show-phonetic-button" type="button" onclick="javascript:BtnOnclick();">
                    <i class="fa fa-comment"></i>
                </button>
                <div id="phonetic" style="display: none">
                    @foreach (string w in textProvider.GetPhoneticText(Model.Password))
                    {
                        <div>
                            @Html.Label(w)<br />
                        </div>
                    }
                </div>
            </div>

            @if (Model.PasswordHistory.Count > 0)
            {
                <div>
                    <button id="show-history-button" type="button" onclick="javascript:HistoryBtnOnclick();">
                        <i class="fa fa-history"></i>
                    </button>
                    <div id="history" style="display: none">
                        @foreach (PasswordEntry e in Model.PasswordHistory)
                        {
                            <div class="input-group">
                                <div class="resultsText password-field">
                                    @Html.Raw(htmlProvider.GetHtmlPassword(e.Password))
                                </div>
                                <span class="input-group-append">
                                    <button id="copy-button-2" type="button" data-clipboard-text="@e.Password">
                                        <i class="far fa-copy"></i>
                                    </button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            }
        </section>

        <section>
            <label class="title">@UIMessages.ValidUntil</label>
            <div class="input-group">
                <input class="resultsText" id="ValidDate" type="text" value="@Html.DisplayFor(modelItem => Model.ValidUntil)" readonly="readonly" />
            </div>
        </section>
    </fieldset>

    <footer>
        <div class="center-content">
            @using (Html.BeginForm("Get", "Lap", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">@UIMessages.ButtonNewRequest</button>
            }
        </div>
    </footer>
</div>

<script type="text/javascript">
    function BtnOnclick() {
        $('#phonetic').css("display", "block");
    }

    function HistoryBtnOnclick() {
        $('#history').css("display", "block");
    }

</script>