@using Lithnet.AccessManager.Service.AppSettings;
@using Lithnet.AccessManager.Server.Configuration;
@using Microsoft.Extensions.Options;

@inject IOptionsSnapshot<UserInterfaceOptions> uiSettings
@inject IAuthenticationProvider authSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@uiSettings.Value.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>


<body>
    <div id="page-container">
        <h1 class="app-header">
            <img class="app-logo" alt="@uiSettings.Value.Title" src="/images/logo.png">
        </h1>

        <div class="content">
            @RenderBody()
        </div>
    </div>

    @if (authSettings.CanLogout && User.Identity.IsAuthenticated)
    {
        <div class="center-content">
            <a class="logout-link" href="@Url.Action("Logout", "Home")">@UIMessages.Logout</a>
        </div>
    }

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/clipboard.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
