@using System.Configuration
@using Lithnet.AccessManager.Web.AppSettings;
@using Lithnet.AccessManager.Server.Configuration;
@using Microsoft.Extensions.Options;

@inject IOptions<UserInterfaceOptions> uiSettings
@inject IAuthenticationProvider authSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@uiSettings.Value.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <div class="content">
        <div class="app-header">
            <img class="app-logo" alt="@uiSettings.Value.Title" src="~/images/logo.png" />
            <div class="app-title">@uiSettings.Value.Title</div>
        </div>
        @RenderBody()
    </div>
    @if (authSettings.CanLogout && User.Identity.IsAuthenticated)
    {
        <div class="center-content">
            <a class="logout-link" href="@Url.Action("Logout", "Home")">@UIMessages.Logout</a>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
