@{
    ViewBag.Title = UIMessages.HeadingPasswordDetails;
}

@model Lithnet.AccessManager.Web.Models.CurrentPasswordModel
@inject Lithnet.AccessManager.Server.IPhoneticPasswordTextProvider textProvider;
@inject Lithnet.AccessManager.Web.Internal.IHtmlPasswordProvider htmlProvider;

<div class="form-container">

    <header>
        @UIMessages.HeadingPasswordDetails
    </header>
    <fieldset>
        <section>
            <label class="title">@UIMessages.ComputerName</label>
            <div class="input-group">
                <input class="resultsText" id="ComputerName" type="text" value="@Html.DisplayFor(modelItem => Model.ComputerName)" readonly="readonly" />
            </div>
        </section>

        <section>
            <label class="title">@UIMessages.Password</label>
            <div class="input-group">
                <div class="resultsText password-field" id="pwd">
                    @Html.Raw(htmlProvider.GetHtmlPassword(Model.Password))
                </div>
                <span id="inputGroupAppend" class="input-group-append">
                    <button id="copy-button" type="button" class="clipboard-copy-button" data-clipboard-text="@Model.Password">
                        <i class="far fa-copy"></i>
                    </button>
                </span>
            </div>

            <div>
                <button id="buttonSpeak1" type="button" class="btn btn-outline-secondary speech-button" speech-data="@textProvider.GetPhoneticText(Model.Password)">
                   Read aloud
                </button>
               
                <button id="buttonShowPhonetic" type="button" data-toggle="collapse" class="btn btn-outline-secondary" data-target="#panelPhonetic">Show phonetic</button>

            </div>

        </section>

        <section>
            <div id="panelPhonetic" class="collapse">
                <label class="title">Phonetic pronunciation</label>
                <div class="input-group">
                    @foreach (string w in textProvider.GetPhoneticTextSections(Model.Password))
                    {
                        <div>
                            @Html.Label(w)<br />
                        </div>
                    }
                </div>
            </div>
        </section>

        <section>
            <label class="title">@UIMessages.ValidUntil</label>
            <div class="input-group">
                <input class="resultsText" id="ValidDate" type="text" value="@Html.DisplayFor(modelItem => Model.ValidUntil)" readonly="readonly" />
            </div>
        </section>
    </fieldset>

    <footer>
        <div class="center-content">
            @using (Html.BeginForm("AccessRequest", "Computer", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">@UIMessages.ButtonNewRequest</button>
            }
        </div>
    </footer>
</div>

@section Scripts {
    <script src="~/js/clipboard.js"></script>
    <script src="~/js/speech.js"></script>
    <script src="@Url.Content("~/js/show.js")"></script>
}