@{
    ViewBag.Title = UIMessages.HeadingPasswordDetails;
}

@model Lithnet.AccessManager.Web.Models.CurrentPasswordModel
@inject Lithnet.AccessManager.Server.IPhoneticPasswordTextProvider textProvider;
@inject Lithnet.AccessManager.Web.Internal.IHtmlPasswordProvider htmlProvider;

<div class="form-container">

    <header>
        @UIMessages.HeadingPasswordDetails
    </header>
    <fieldset>
        <section>
            <label class="title">@UIMessages.ComputerName</label>
            <div class="input-group">
                <input class="resultsText" id="ComputerName" type="text" value="@Html.DisplayFor(modelItem => Model.ComputerName)" readonly="readonly" />
            </div>
        </section>

        <section>
            <label class="title">@UIMessages.Password</label>
            <div class="input-group">
                <div class="resultsText password-field" id="pwd">
                    @Html.Raw(htmlProvider.GetHtmlPassword(Model.Password))
                </div>
                <span id="inputGroupAppend" class="input-group-append">
                    <button id="copy-button" type="button" data-clipboard-text="@Model.Password">
                        <i class="far fa-copy"></i>
                    </button>
                </span>
            </div>

            <div>
                <button id="buttonSpeak" type="button" class="btn btn-outline-secondary" data-toggle="button">
                    <svg height="20px" viewBox="0 0 25 25" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8,7A2,2 0 0,1 10,9V14A2,2 0 0,1 8,16A2,2 0 0,1 6,14V9A2,2 0 0,1 8,7M14,14C14,16.97 11.84,19.44 9,19.92V22H7V19.92C4.16,19.44 2,16.97 2,14H4A4,4 0 0,0 8,18A4,4 0 0,0 12,14H14M21.41,9.41L17.17,13.66L18.18,10H14A2,2 0 0,1 12,8V4A2,2 0 0,1 14,2H20A2,2 0 0,1 22,4V8C22,8.55 21.78,9.05 21.41,9.41Z">
                        </path>
                    </svg>
                </button>

                <button id="buttonShowPhonetic" type="button" data-toggle="collapse"
                        class="btn btn-outline-secondary" data-target="#panelPhonetic">
                    <svg fill="currentColor" height="10px" viewBox="0 0 1000 500"
                         xmlns="http://www.w3.org/2000/svg" transform="scale(1,-1)">
                        <path d="M412 110q10 -20 -1.5 -40t-35.5 -20q-26 0 -37 23l-30 60h-199l-30 -60q-7 -16 -23.5 -21.5t-32.5 2.5q-16 7 -21.5 23.5t2.5 32.5l167 334q11 21 38 21t37 -21zM151 217h115l-58 115zM875 50h-250q-24 0 -36.5 22t3.5 45l200 266h-167q-17 0 -29.5 12.5t-12.5 29.5 t12.5 29.5t29.5 12.5h250q24 0 36.5 -22.5t-3.5 -44.5l-200 -267h167q17 0 29.5 -12t12.5 -29t-12.5 -29.5t-29.5 -12.5zM542 217h-84q-17 0 -29 12t-12 29t12 29.5t29 12.5h84q17 0 29 -12.5t12 -29.5t-12 -29t-29 -12z">
                        </path>
                    </svg>

                </button>

            </div>

        </section>

        <section>
            <div id="panelPhonetic" class="collapse">
                <label class="title">Phonetic pronunciation</label>
                <div class="input-group">
                    @foreach (string w in textProvider.GetPhoneticTextSections(Model.Password))
                    {
                        <div>
                            @Html.Label(w)<br />
                        </div>
                    }
                </div>
            </div>
            <div id="divPhoneticText" class="hidden">@textProvider.GetPhoneticText(Model.Password)</div>
        </section>

        <section>
            <label class="title">@UIMessages.ValidUntil</label>
            <div class="input-group">
                <input class="resultsText" id="ValidDate" type="text" value="@Html.DisplayFor(modelItem => Model.ValidUntil)" readonly="readonly" />
            </div>
        </section>
    </fieldset>

    <footer>
        <div class="center-content">
            @using (Html.BeginForm("AccessRequest", "Computer", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">@UIMessages.ButtonNewRequest</button>
            }
        </div>
    </footer>
</div>

@section Scripts {
    <script src="~/js/clipboard.js"></script>
    <script src="~/js/speech.js"></script>
    <script src="@Url.Content("~/js/show.js")"></script>
}