@using Lithnet.AccessManager.Server.Configuration;
@using Microsoft.Extensions.Options;

@inject IOptionsSnapshot<UserInterfaceOptions> uiSettings

@{
    ViewBag.Title = UIMessages.HeadingRequestAccess;
}

@model Lithnet.AccessManager.Web.Models.AccessRequestModel

<div class="form-container">
    @using (Html.BeginForm("AccessResponse", "Computer", FormMethod.Post))
    {
        <header>
            @UIMessages.HeadingRequestAccess to @Model.ComputerName
        </header>
        <fieldset>

            <section>
                <label class="title">Please select the type of access you require</label>
                <div class="form-check">
                    @if (Model.AllowedRequestTypes.HasFlag(AccessMask.Laps))
                    {
                        @Html.RadioButtonFor(m => m.RequestType, "Laps", new { @class = "form-check-input", @id = "lapscheck" })
                        <label class="form-check-label" for="lapscheck">Current local admin password</label>

                    }
                </div>
                <div class="form-check">
                    @if (Model.AllowedRequestTypes.HasFlag(AccessMask.LapsHistory))
                    {
                        @Html.RadioButtonFor(m => m.RequestType, "LapsHistory", new { @class = "form-check-input", @id = "lapshistorycheck" })
                        <label class="form-check-label" for="lapshistorycheck">Previous local admin passwords</label>
                    }
                </div>
                <div class="form-check">
                    @if (Model.AllowedRequestTypes.HasFlag(AccessMask.Jit))
                    {
                        @Html.RadioButtonFor(m => m.RequestType, "Jit", new { @class = "form-check-input", @id = "jitcheck" })
                        <label class="form-check-label" for="jitcheck">Just-in-time access</label>
                    }
                </div>
            </section>

            @Html.HiddenFor(m => m.ComputerName)
            @Html.HiddenFor(m => m.ReasonRequired)
        </fieldset>

        <footer>
            <div class="center-content">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">@UIMessages.ButtonRequestAccess</button>
            </div>
        </footer>
    }
</div>