@{
    ViewBag.Title = UIMessages.HeadingPasswordDetails;
}

@using Lithnet.AccessManager
@model Lithnet.AccessManager.Web.Models.PasswordHistoryModel
@inject Lithnet.AccessManager.Web.Internal.IPhoneticPasswordTextProvider textProvider;
@inject Lithnet.AccessManager.Web.Internal.IHtmlPasswordProvider htmlProvider;

<div class="form-container">

    <header>
        @UIMessages.HeadingPasswordDetails
    </header>
    <fieldset>
        <section>
            <label class="title">@UIMessages.ComputerName</label>
            <div class="input-group">
                <input class="resultsText" id="ComputerName" type="text" value="@Html.DisplayFor(modelItem => Model.ComputerName)" readonly="readonly" />
            </div>
        </section>

        <section>
            <label class="title">@UIMessages.Password</label>
            <div>
                <div id="panelHistory">
                    @foreach (PasswordEntry e in Model.PasswordHistory)
                    {
                        <div class="input-group">
                            <div class="resultsText password-field">
                                @Html.Raw(htmlProvider.GetHtmlPassword(e.Password))
                            </div>
                            <span class="input-group-append">
                                <button id="copy-button-2" type="button" data-clipboard-text="@e.Password">
                                    <i class="far fa-copy"></i>
                                </button>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </section>
    </fieldset>

    <footer>
        <div class="center-content">
            @using (Html.BeginForm("AccessRequest", "Computer", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">@UIMessages.ButtonNewRequest</button>
            }
        </div>
    </footer>
</div>

@section Scripts {
    <script src="~/js/clipboard.js"></script>
    <script src="@Url.Content("~/js/show.js")"></script>
}