@using System.Configuration
@using Lithnet.Laps.Web
@using Lithnet.Laps.Web.AppSettings
@inject IUserInterfaceSettings uiSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@uiSettings.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <div class="content">
        <div class="app-header">
            <img class="app-logo" alt="@uiSettings.Title" src="~/images/logo.png" />
            <div class="app-title">@uiSettings.Title</div>
        </div>
        @RenderBody()
    </div>
    @if (Startup.CanLogout)
    {
        <div class="center-content">
            <a class="logout-link" href="@Url.Action("SignOut", "Home")">@UIMessages.Logout</a>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/clipboard.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
