@{
    ViewBag.Title = UIMessages.HeadingPasswordDetails;
}

@model Lithnet.Laps.Web.Models.LapEntryModel

<script src="@Url.Content("~/Scripts/init-clip.js")"></script>

<div class="form-container">

    <header>
        @UIMessages.HeadingPasswordDetails
    </header>
    <fieldset>
        <section>
            <label class="title">@UIMessages.ComputerName</label>
            <div class="input-group">
                <input class="resultsText" id="ComputerName" type="text" value="@Html.DisplayFor(modelItem => Model.ComputerName)" readonly="readonly" />
            </div>
        </section>

        <section>
            <label class="title">@UIMessages.Password</label>
            <div class="input-group">
                <div class="resultsText password-field" id="pwd">
                    @Html.Raw(Model.HtmlPassword)
                </div>
                <span id="inputGroupAppend" class="input-group-append">
                    <button id="copy-button" type="button" data-clipboard-text="@Model.Password">
                        <i class="far fa-copy"></i>
                    </button>
                </span>
            </div>
        </section>

        <section>
            <label class="title">@UIMessages.ValidUntil</label>
            <div class="input-group">
                <input class="resultsText" id="ValidDate" type="text" value="@Html.DisplayFor(modelItem => Model.ValidUntil)" readonly="readonly" />
            </div>
        </section>
    </fieldset>

    <footer>
        <div class="center-content">
            @using (Html.BeginForm("Get", "Lap", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">@UIMessages.ButtonNewRequest</button>
            }
        </div>
    </footer>
</div>